@charset "utf-8";
/* CSS Document */


.newsWrap{
    position: relative;
    overflow: hidden;
    padding: 20px;
    background-color: wheat;
}

.newsWrap h3{
    font-size: 24px;
    color: #222;
}

.btn-more{
    display: inline-block;
    float: right;
    width: 24px;
    height: 24px;
    background: url("../img/plus-solid.svg") no-repeat center center;
    background-size: 70% 100%;
    text-indent: -9999px;
    opacity: 0.5;
    color: transparent;
    margin-top: 4px;
}

.btn-more:hover{
    opacity: 1;   
}

dl , dt, dd {
    margin: 0;
}

.thumbnail-list{
    margin-top: 20px;
    height: 120px;
    overflow: hidden;
}

.thumbnail-list div{
    float: left;
}

.list {
    display: inline-block;
    width: calc(100% - 185px);
    margin-left: 20px;
}

.list  a{
    text-decoration: none;
    color: #404040;
}

.list a:hover{
    text-decoration: underline;
    color: #222;
}

.list dt a{
    font-size: 18px;
    font-weight: bold;
    color: #0039aa;
}
.list dt a:hover{
    color: #003977;
}

.list dd{
    margin-top: 10px;
    color: #707070;
}